body {
  margin: 0;
  background-color: #23252C;
  padding: 30px 20px;
  font-family: 'Inter', sans-serif;
  
}

*{
  box-sizing: border-box;
}

.App {
  margin:  auto;
  height: auto;
  width: 317px;
  background-color:#1A1B21;
  border-radius: 10px 10px 0px 0px;
}

.wrap--hero{
  margin-top: 0;
  width: 317px;
}

.wrap--hero > img{
  width: 100%;
  margin-top: 0;
  border-radius: 10px 10px 0px 0px;
}

.biodata--wrap{
  padding: 5px 2px;
  line-height: 10px;
  text-align: center;
  /* background-color: aliceblue; */
  margin-top: 0;
}

.biodata--wrap > .biodata--name{
  color: #fff;
  font-weight: 700;
}

.biodata--wrap > .biodata--role{
  color: #F3BF99;
  font-size: 12.8px;
  font-weight: 400;
}

.biodata--wrap > .biodata--education{
  font-size: 10.24px;
  color: #F5F5F5;
  font-weight: lighter;
}

.contact--wrap{
 
  height: auto;
  width: 100%;
  /* display: flex; */
}

.contact--wrap > ul {
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
}

.contact--wrap  li {
  width: 115px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  border-radius: 6px;
}

.contact--wrap  .contact--email  {
  background-color: #fff;
}

.contact--wrap  .contact--linkedin {
  background-color: #5093E2;
}

.contact--wrap a{
  text-decoration: none;
}

.linkedin{
  color: #fff;
}

.contact--img{
  margin-right: 10px;
}

.desc--wrap{
  padding: 5px 30px;
  color: #fff;
}

.desc--about{
  line-height: 2px;
}

.desc--interests{
  line-height: 2px;
}

.desc--about p{
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}
.desc--interests p{
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}

.footer--wrap{
  width: 100%;
  background-color: #161619;
  display: flex;
  justify-content: center;
}

.footer--wrap ul{
  padding-left: 0;
  width: 80%;
  height: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer--wrap  li{
  list-style: none;
}